@media only screen and (min-width: 1024px ) {

    /*------Heading------*/
    img#heading {
        width: 412px;
    }

    header h1 {
        font-size: 3.3em;
    }

    header div img {
        height: 8.5em;
    }
    
    /*-----Main-----*/
    p {
        font-size: 25px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
    }

    main#grid { 
        justify-content: space-between;
    }

    main#solo {
        justify-content: center;
    }

    main div {
        border: none;
        width: 50%;
    }

    img#adventureFix {
        height: 51%;
    }

    article {
        width: 45em;
    }

    .content {
        margin: auto;
    }

    /*-----Footer-----*/
	section.footerbar {
		font-size: 30px;
	}
}