* { box-sizing: border-box;}

/*------Font------*/
header, nav, footer {
    max-width: 1140px;
    font-family:'Markazi Text', serif;
}

main {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;   
}

/*--------Header-------*/
header { 
    background-color: #809507;
    position: relative;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div img{
    width: 7em;
    height: 7em;
    align-self: flex-start;
}

img#heading{
    display: none;
}

h1 {
    font-size: 25px;
    margin: 0;
}

/*---------Navigation----------*/
nav{
    background-color: #809507;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav img{
    height: 3em;
    widows: 3em;
}

nav button {
	background: none;
    border: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AFA605;
    text-align: center;
}

nav ul.hide {
	display: none;
}

nav ul li a {
	color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

nav ul li.active a {
    color: #D30F02;
}

nav ul li a:hover {
	color: #FA2D08;
}

/*--------Main---------*/
main img{
    width: 100%;
}

main div img{
    width: 100%;
}

main div{
    text-align: center;
    border: solid #F7C20E 1px;
}

div a{
    color: #F7C20E;
    text-decoration: none;
}

iframe{
    width: 100%;
}

/*-------Footer-----*/
footer{
    background-color: #809507;
    color: #ffffff;
}

footer a{
    color: #F7C20E;
    text-decoration: none;
}